html {
  font-size: 18px;
  font-family: Helvetica;
  background-color: white;
}
body {
  line-height: 1.4;
}
nav {
  padding: 1rem 0;
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  position:relative;
  top: 1rem;
  left: 18rem;
  height: 2rem;
  width: 53.333rem;
}
nav div {
  display: flex;
  align-items: center;

}
nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}
ul {
  margin-right: 1rem;
}
ul li {
  display:inline;
  padding: 0 1rem;
}
.flex-container {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  height: 30rem;
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
  margin-top: -5rem ;
}
.main-banner {
  background-color: white;
  color: black;
  display: inline-block;
  padding: 0.75rem 5rem;
   margin-top: 12rem;
   margin-left: 38rem;
   line-height: 2.4rem;
}
h1 {
  margin:1.5rem 5rem;
}
.supporting  {
  display: flex;
  justify-content: center;
}
.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 3rem;
  height: 8rem;
  width: 5rem;
  }
  .service img {
    width:5rem;
    margin-bottom: 1rem;
  }
  #exam img {
    width: 3.5rem;
}
.supporting-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.title {
  background-color: cadetblue;
  width: 10rem;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  padding:0.5rem 1.25rem;
}
.info {
width: 35%;
}
p{
  margin-right: 5rem;
  margin-top: 1rem;
}
footer {
    background-color: azure;
    padding: 4rem 1rem 4rem 4rem;
    display: flex;
    align-items: center;
    margin-top: 5rem;
}
footer div {
  margin-left: 1rem;
}
@media only screen and (max-width:1024px){
  nav {
    padding: 1rem 0;
    background-color: cadetblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    position:relative;
    top: -.3rem;
    left: 0rem;
    height:2rem;
    width: 100%;
 }
  .main-banner {
    background-color: white;
    color: black;
    display: inline-block;
    padding: 0.75rem 2rem;
    margin-top: 14rem;
    margin-left: 22rem;
    line-height: 2.4rem;
 }
  h1 {
    margin:0.75rem 4rem;
    font-size: 1.33rem;
  }
}
nav .truncated-menu {
  display:none;
}
@media only screen and (max-width:375px){
  nav {
    width: 100%;
  }
  .menu ul {
    display:none;
  }
  nav span {
    display: none;
  }
  .menu ul.truncated-menu {
    display: block;
  }
  .flex-container {
    background-position: 20%;
    height: 17rem;
  }
  .main-banner {
    padding: 0rem 0rem;
    text-align: center;
    margin-top: 12rem;
    margin-left: 0rem;
    width: 99.9%;
    line-height: 1.2rem;
  }
  h1 {
    font-size: 1rem;
    margin:1rem 0rem 1rem 0rem;
}
.supporting  {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service {
  margin-top: 3.77rem;
  font-size: 0.77rem;
  font-family: Helvetica;
}
.service div {
    margin-top: 1.54rem;
}
.supporting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.77rem;
}
.title {
  font-size: 1rem;
  color: white;
  width:87%;
  text-align: center;
}
p{
  margin-right: 0rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  font-size: 0.77rem;
}
.info {
width: 99.9%;
}
footer div {
  display:none;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    padding: 4rem 4rem;
}
}
